body {
    padding: 10vh 20vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

h1 {
    color: lightblue;
}

.container {
    width: 60vw;
    height: 80vh;
    background: white;
    border-radius: 1rem;
    display: flex;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container > * {
    width: 50%;
}

.container img {
    width: 25vw;
    height: 25vw;
    margin: auto;
    border-radius: 1rem;
}